#stackTraceTitle {
	font: bold 20px/1 Helvetica, Verdana, sans-serif;
	color: white;
	text-align: left;
	background: #4863A0;
	border: #ddd;
	padding: 10px;
	margin-bottom: 10px;
}

#timeOfFailureDate,#stackTraceException {
	font: 16px/1.5 Helvetica, Verdana, sans-serif;
}

#stackTraceExceptionDiv {
	background: #FCDFFF;
	border: #ddd;
	padding: 10px;
	margin-bottom: 50px;
	border: 2px solid #FBBBB9;
}

#timeOfFailureDiv {
	border: #ddd;
	padding: 10px;
	margin-bottom: 10px;
}

#output {
	font: bold 14px monospace;
	color: #FF2400;
	text-decoration: none;
}

pre {
	margin-left: 1ex;
}